@use '../../styles/vars';

.header {
    background-color: vars.$blueMain;
    width: 240px;
    left: -280px;
    top: 0;
    height: 100vh;
    position: fixed;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: flex-start240px;
    transition: all 0.3s ease-in;
    box-shadow: 2px 0px 14px 0px #00000033;

    @media screen and (min-width: 992px) { 
        left: 0;
        width: 130px;
    }

    &:hover {
        width: 240px;

        .main-nav__itemName {
            display: block;
        }

        .logo-small {
            visibility: hidden;
            opacity: 0;  
        }

        .logo-container .logo-normal {

            visibility: visible;
            opacity: 1;  
        }
    }

    .logo-container {
        background-color: #fff;
        padding: 2rem 1rem;
        height: 130px;

        .logo-small {
            width: 100px;
            visibility: visible;
            -webkit-transition: opacity 0.2s ease-in, visibility 0.5s ease-in;
            transition: opacity 0.2s ease-in, visibility 0.5s ease-in;
        }

        .logo-normal {
            width: 214px;
            opacity: 0;
            visibility: hidden;
            -webkit-transition: opacity 0.2s ease-in, visibility 0.5s ease-in;
            transition: opacity 0.2s ease-in, visibility 0.5s ease-in;
            position: absolute; 
            top: 58px;
            left: 12px;
        }
    }

    .main-nav {
        padding: 2rem;
        margin-top: 3rem;
        color: #fff;
        position: relative;
        width: 100%;

        @media screen and (min-width: 992px) { 
            margin-top: 7rem;
        }

        &__itemName {
            display: block;
            position: absolute;
            left: 69px;
            top: 25px;
            width: 100%;

            @media screen and (min-width: 992px) { 
                display: none;
            }
        }
    
        &__itemLink {
            padding: 1.5rem 1rem;
            display: inline-block;
            transition-duration: 0.2s;
            transition-delay: 0.1s;
            position: relative;
            border-radius: 1em;
            width: 100%;

            &:hover {
                background-color: vars.$blueMainAlt;
                box-shadow: 0 14px 28px rgb(0 0 0 / 20%);
            }
        }
    }

    .active {
        color: vars.$salmon;
        font-weight: 700;
    }
}

.bureger__btn {
    align-self: flex-start;
    position: absolute;
    right: 0;
    z-index: 13;
    margin: 0 1rem;
    display: block;
    color: vars.$salmon;
    background: none;

    &:hover{
        background: none; 
    }

    @media screen and (min-width: 992px) { 
        display: none;
    }
}

.header.open {
    left:0;
}