@use 'reset';
@use 'vars';


body {
  font-family: vars.$font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: vars.$greyLight;
  line-height: 1.2;

  @media screen and (min-width: 992px) { 
    line-height: 1.5;
}

}

button {
  padding: 1rem;
  font-family: vars.$font;
  border: 0;
  background: vars.$blueMain;  
  font-weight: 700;
  color: #fff;
  transition: all 0.3s ease-in;
}

button:hover{
  background: vars.$blueMainAlt;
}

em {
  font-weight: 700;
  color: vars.$blueMain;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#rcc-confirm-button:hover {
  background: vars.$salmon!important;
  color: #fff!important;
}