
.character {
    width: 50%;
    position: relative;

  &__avatar {
    max-width: 25em;
  }

  .eyes-follow {
      width: 26%;
      position:absolute; 
      top:27%;
      left:36%;
  
      @media screen and (min-width: 992px) { 
        position:absolute; 
        left:8em;
      }
    
      .eyes {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        .eye {
          border-radius: 50%;
          height: 0.8em;
          width: 0.8em;
          /*margin-left: 11%;*/
       
  
          @media screen and (min-width: 992px) { 
            width: 2em;
            height: 2em;
          }
    
          .pupil {
            background: #6E2424;
            border-radius: 50%;
            position: absolute;
            width: 0.3em;
            height: 0.3em;
            left: 30%;
            top: 30%;
            min-width: 0.3em;
            animation: squeeze 3s infinite;
  
            @media screen and (min-width: 992px) { 
              width: 0.6em;
              height: 0.6em;
              left: 70%;
              top: 30%;
            }
          }

          @keyframes squeeze {
            90% {
              transform: none;
              animation-timing-function: ease-in;
            }
            93% {
              transform: scale(0.3)
            }
            100% {
              animation-timing-function: ease-out;
            }
          }
        }
      }
    
  }

}
